html 
    body
        form(action="/submitForm", method="POST")
            div
                label(for="something") First name: 
                input(name="first" value="web")
            br
            button(type="submit") Submit